:root{
  --sdk-border: #091E4224;
  --sdk-space-0: 0rem;
  --sdk-space-025: 0.125rem;
  --sdk-space-050: 0.25rem;
  --sdk-space-075: 0.375rem;
  --sdk-space-100: 0.5rem;
  --sdk-space-150: 0.75rem;
  --sdk-space-200: 1rem;
  --sdk-space-250: 1.25rem;
  --sdk-space-300: 1.5rem;

  --primary-color: #191919;
  --primary: #408CF9;
  --white: #FFFFFF;
  --sidebar-hover: #F5F5F5;
  --sidebar-bg: #FFFFFF;
  --bg: #EFEFEF;
  --text-link: #141B34;
  --expand-button: #408CF9;
  --logout: #FA7575;
  --headline-text: #546471;
  --text: #141B34;
  --divider-bg: var(--bg);
  --shadow-color: #E9E6E4;
  --shadow: 0px 0px 0px 1.4px var(--shadow-color),
    0px 0px 2.8px 0px var(--shadow-color);
}

@font-face {
  font-family: "LexEnd";
  src: url('../../public/fonts/LexendDeca-VariableFont_wght.ttf') format('opentype');
  font-display: swap;
  font-weight: 400;
}

.nav-header{
  border-block-end: 1px solid var(--sdk-border, #EBECF0);
  height: 100%;
  padding-inline-end: var(--sdk-space-150, 12px);
  padding-inline-start: var(--sdk-space-150, 12px);
  -webkit-box-align: center;
  position: relative;
  box-sizing: border-box;
}

.input-wrapper {
  width:100%;
  position: relative;
}
.input {
  height: 47px;
  font-size: 15px;
  padding: 7px 40px;
  border-radius: 4px;
  border: 1.7px solid #A9A9A9;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}
.placeholder {
  pointer-events: none;
  position: absolute;
  font-weight: 400;
  top: 11px;
  left: 27px;
  padding: 0 8px;
  background-color: white;
  border-radius: 3px;
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1), opacity 250ms cubic-bezier(0.4,0,0.2,1);
  color: grey;
}

.input:not(:placeholder-shown).input:not(:focus) + .placeholder {
  transform: scale(.90) translateY(-24px) translateX(-2%);
  color: #3C3D37;
  transition: .2s ease;
}

.input:focus {
  border: 2px solid #0088ff;
} 

.input:focus + .placeholder {
  transform: scale(.90) translateY(-24px) translateX(-2%);
  color: #0088ff;
  transition: .2s ease;
} 

.input:invalid:not(:placeholder-shown){
  transition: .2s ease;
  border-color:#da2020;
}

.input:invalid:not(:placeholder-shown) + .placeholder{
  transition: .2s ease;
  color:#da2020;
}
.input:invalid:not(:placeholder-shown).input:not(:focus) + .placeholder {
  transform: scale(.90) translateY(-24px) translateX(-2%);
  color: #da2020;
  transition: .2s ease;
}

.input.invalid {
  border-color: #da2020 !important;
  box-shadow: 0 0 2px rgba(245, 44, 92, 0.5);
}

.input.invalid + .placeholder {
  transform: scale(.90) translateY(-24px) translateX(-2%);
  color: #da2020 !important;
}

.inputicon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}

.error{
  transition: opacity 0.3s;
  animation-name: shake;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  width: 100%;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-3px); }
  40% { transform: translateX(3px); }
  60% { transform: translateX(-3px); }
  80% { transform: translateX(3px); }
  100% { transform: translateX(0); }
}
